<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav in" id="side-menu">
            <sidebar-search></sidebar-search>
            <li ui-sref-active="active">
                <a ui-sref="school.home"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
           <!--  <li ui-sref-active="active">

                <a ui-sref="school.chart"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span></span></a>

            </li>
            <li ui-sref-active="active">
                <a ui-sref="school.table"><i class="fa fa-table fa-fw"></i> Tables</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="school.form"><i class="fa fa-edit fa-fw"></i> Forms</a>
            </li> -->
            <li ng-class="{active: collapseVar==1}">
                <a href="" ng-click="check(1)"><i class="fa fa-user fa-fw"></i>Student<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=1">
                    <li ui-sref-active="active">
                        <a ui-sref="school.student">Add </a>
                    </li>
<!--                     <li ui-sref-active="active">
                        <a ui-sref="school.editStudent">Edit </a>
                    </li> -->
                    <li ui-sref-active="active">
                        <a ui-sref="school.displayStudent">Display </a>
                    </li>
                </ul>
            </li>
            <li ng-class="{active: collapseVar==1}">
                <a href="" ng-click="check(1)"><i class="fa fa-wrench fa-fw"></i>Staff<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=1">
                    <li ui-sref-active="active">
                        <a ui-sref="school.addStaff">Add </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="school.editStaff">Edit </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="school.displayStaff">Display </a>
                    </li>
                </ul>
            </li>
<!--             <li ng-class="{active: collapseVar==2}">
                <a href="" ng-click="check(2)"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span
                        class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=2">
                    <li>
                        <a href="">Second Level Item</a>
                    </li>
                    <li>
                        <a href="">Second Level Item</a>
                    </li>
                    <li ng-init="third=!third" ng-class="{active: multiCollapseVar==3}">
                        <a href="" ng-click="multiCheck(3)">Third Level <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level" collapse="multiCollapseVar!=3">
                            <li>
                                <a href="">Third Level Item</a>
                            </li>
                            <li>
                                <a href="">Third Level Item</a>
                            </li>
                            <li>
                                <a href="">Third Level Item</a>
                            </li>
                            <li>
                                <a href="">Third Level Item</a>
                            </li>

                        </ul>
                
                    </li>
                </ul>
                
            </li> -->
            <li ng-class="{active:collapseVar==4}">
                <a href="" ng-click="check(4)"><i class="fa fa-files-o fa-fw"></i> Sample Pages<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level" collapse="collapseVar!=4">
                    <li ng-class="{active: selectedMenu=='blank'}">
                        <a ui-sref="school.blank" ng-click="selectedMenu='blank'">Blank Page</a>
                    </li>
                    <li>
                        <a ui-sref="login">Login Page</a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>          
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div> 



