<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{page.title}}</h1>
    </div>  
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-12">
    {{id}}
        <div class="panel panel-default">
            <div class="panel-heading">
                <button type="submit" class="btn btn-default">Submit Button</button>
                <button type="reset" class="btn btn-default">Reset Button</button>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist" style="margin-bottom:20px">
                    <li class="active"><a data-target="#personalInfo" data-toggle="tab">Personal Information</a>
                    </li>
                    <li><a data-target="#academicInfo" data-toggle="tab">Academic Information</a>
                    </li>
                    <li><a data-target="#transportInfo" data-toggle="tab">Transport Information</a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="personalInfo">                        
                        <div class="col-lg-6">
                            <form role="form">
                                <div class="form-group">
                                    <label>Reg No.</label>
                                    <p class="form-control-static">12121243</p>
                                </div>
                                <div class="form-group">
                                    <label>First Name</label>
                                    <input class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Middle Name</label>
                                    <input class="form-control" placeholder="Enter text">
                                </div>
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <input class="form-control" placeholder="Enter text">
                                </div>
                                <div class="form-group">
                                    <label>Gender</label>
                                    <label class="radio-inline">
                                        <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline1" value="option1" checked>Male
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="optionsRadiosInline" id="optionsRadiosInline2" value="option2">Female
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label>Marital status</label>
                                    <select class="form-control">
                                        <option>Married</option>
                                        <option>Single</option>                                        
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Mother Name</label>
                                    <input class="form-control">
                                    <p class="help-block">Example block-level help text here.</p>
                                </div>
                                <div class="form-group">
                                    <label>Father Name</label>
                                    <input class="form-control" placeholder="Enter text">
                                </div>
                                <div class="form-group">
                                    <label>Mother's occupation</label>
                                    <input class="form-control" placeholder="Enter text">
                                </div>
                                <div class="form-group">
                                    <label>Father's occupation</label>
                                    <input class="form-control" placeholder="Enter text">
                                </div>
                                <div class="form-group">
                                    <label>Mother Tongue</label>
                                    <input class="form-control" placeholder="Enter text">
                                </div>
                                <div class="form-group">
                                    <label>Religion</label>
                                    <input class="form-control" placeholder="Enter text">
                                </div>                                
                            </form>
                        </div>
                         <!-- /.col-lg-6 (nested) -->
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Caste</label>
                                <input class="form-control" placeholder="Enter text">
                            </div>
                            <div class="form-group">
                                <label>Category</label>
                                <input class="form-control" placeholder="Enter text">
                            </div>
                            <div class="form-group">
                                <label>Date of Birth</label>
                                <p class="input-group">
                                  <input type="text" class="form-control" datepicker-popup="{{CONSTANTS.DATEFORMAT}}" ng-model="dt" is-open="opened" datepicker-options="dateOptions" show-weeks="false" show-button-bar="false"/>
                                  <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                  </span>
                                </p>
                            </div>
                            <div class="form-group">
                                <label>Landline No</label>
                                <input type="text" ng-model="val" numbers-only class="form-control" />
                            </div>
                            <div class="form-group">
                                <label>Mobile No</label>
                                <input class="form-control" ng-model="val" numbers-only placeholder="Enter text">
                            </div>
                            <div class="form-group">
                                <label>Permanent Address</label>
                                <input class="form-control" placeholder="Enter text">
                            </div>
                            <div class="form-group">
                                <label>Current Address</label>
                                <input class="form-control" placeholder="Enter text">
                            </div>
                            <div class="form-group">
                                <label>Permanent Address</label>
                                <input class="form-control" placeholder="Enter text">
                            </div>
                            <div class="form-group">
                                <label>Date of Joining</label>
                                <p class="input-group">
                                  <input type="text" class="form-control" datepicker-popup="{{CONSTANTS.DATEFORMAT}}" ng-model="dt" is-open="opened" datepicker-options="dateOptions" show-weeks="false" show-button-bar="false"/>
                                  <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                  </span>
                                </p>
                            </div>
                            <div class="form-group">
                                <label>Date of Leaving</label>
                                <p class="input-group">
                                  <input type="text" class="form-control" datepicker-popup="{{CONSTANTS.DATEFORMAT}}" ng-model="dt" is-open="opened" datepicker-options="dateOptions" show-weeks="false" show-button-bar="false"/>
                                  <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                  </span>
                                </p>
                            </div>
                            <div class="form-group">
                                <label>State</label>
                                <input class="form-control" placeholder="Enter text">
                            </div>
                            <div class="form-group">
                                <label>Personal Info Comment</label>
                                <input class="form-control" placeholder="Enter text">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="academicInfo">
                        <div class="col-lg-6">
                            <form role="form">
                                <div class="form-group">
                                    <label>Standard</label>
                                    <select class="form-control">
                                        <option>Married</option>
                                        <option>Single</option>                                        
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Fees</label>
                                    <input class="form-control" type="number">
                                </div>
                                <div class="form-group">
                                    <label>Standard Fees</label>
                                    <input class="form-control" type="number">
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                    <label>Division</label>
                                    <select class="form-control">
                                        <option>Married</option>
                                        <option>Single</option>
                                    </select>
                            </div>
                            <div class="form-group">
                                <label>Net Fees</label>
                                <input class="form-control" type="number">
                            </div>
                            <div class="form-group">
                                <label>Total fees paid</label>
                                <input class="form-control" type="number">
                            </div>
                            <div class="form-group">
                                <label>Outstanding fees</label>
                                <input class="form-control" type="number">
                            </div>
                        </div>
                        <div class="row">
                            <h4>Last education details</h4>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>school name</label>
                                    <input class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Date of Joining</label>
                                    <p class="input-group">
                                      <input type="text" class="form-control" datepicker-popup="{{CONSTANTS.DATEFORMAT}}" ng-model="dt" is-open="opened" datepicker-options="dateOptions" show-weeks="false" show-button-bar="false"/>
                                      <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                      </span>
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label>Date of Leaving</label>
                                    <p class="input-group">
                                      <input type="text" class="form-control" datepicker-popup="{{CONSTANTS.DATEFORMAT}}" ng-model="dt" is-open="opened" datepicker-options="dateOptions" show-weeks="false" show-button-bar="false"/>
                                      <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                                      </span>
                                    </p>
                                </div>
                                <div class="form-group">
                                    <label>Highest Qualification</label>
                                    <input class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="transportInfo">
                        <div class="col-lg-6">
                            <form role="form">
                                <div class="form-group">
                                    <label>Source</label>
                                    <select class="form-control">
                                        <option>Married</option>
                                        <option>Single</option>                                        
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Fees</label>
                                    <input class="form-control" type="number">
                                </div>
                                <div class="form-group">
                                    <label>Transport Service Fees Discount</label>
                                    <input class="form-control" type="number">
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Destination</label>
                                <select class="form-control">
                                    <option>Married</option>
                                    <option>Single</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Net Transport Fees</label>
                                <input class="form-control" type="number">
                            </div>
                            <div class="form-group">
                                <label>Total fees paid</label>
                                <input class="form-control" type="number">
                            </div>
                            <div class="form-group">
                                <label>Outstanding fees</label>
                                <input class="form-control" type="number">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>